body{
  color: #40514E;
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
}
h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
   color: #11999E;
   margin-right: 3rem;
   text-decoration: none;
}
a:hover{
  color: #e3f6f5;
}
hr{
  border: dotted #dbdbdb 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}
p{
    line-height: 2;
}
.top-container{
  background-color: #ccf2f4;
  position: relative;
  padding-top: 100px;
}
.middle-container{
background-color: #e3f6f5;
padding: 50px 0 0 0;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
    line-height: 2;
}
.pro{
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.code-img{
  width: 25%;
  float: left;
  margin-right: 20px;
}
.support-img{
  width: 25%;
  float: right;
  margin-left: 20px;
}
.contact-me-text{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.8rem;
  padding: 20px 0;
}
.btn {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 16px;
   background-color: #66BFBF;
   -webkit-box-shadow: 0 0 5px 0 #A6CBCF;
   -moz-box-shadow: 0 0 5px 0 #A6CBCF;
   box-shadow: 0 0 5px 0 #A6CBCF;
   text-shadow: 1px 1px 20px #000000;
   border: solid #39D0DF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: auto auto 80px auto;
}

.btn:hover {
   border: solid #A6CBCF 1px;
   background: #008081;
   background-image: -webkit-linear-gradient(top, #008081, #5FC0C5);
   background-image: -moz-linear-gradient(top, #008081, #5FC0C5);
   background-image: -ms-linear-gradient(top, #008081, #5FC0C5);
   background-image: -o-linear-gradient(top, #008081, #5FC0C5);
   background-image: -webkit-gradient(to bottom, #008081, #5FC0C5);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
